.two-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 1px solid darkblue;
    margin: 15px 0px;
    border-radius: 4px;
    text-align: center;
    align-items: center;
    gap: 10px;
}
.two-section img{
    border-radius: 4px;
}
.mid-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}
.card-style{
    height: 560px;
}
.img-one img{
    width: 100%;
}


@media only screen and (max-width: 576px){
    .mid-content{
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }
    .two-section{
        grid-template-columns: repeat(1, 1fr)
    }
}